@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #12110A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Titillium Web", sans-serif;
    color: #FFFFFF;
}

/* universal */
.grid-container {
    display: grid;
    gap: 10px;
    width: 70%;
    grid-template-columns: 1fr;
    margin: 100px;
}

.body-title {
    color: #FFCF00;
    font-weight: 700;
    font-size: 1em;
}

.title-lrg {
    font-size: 1.25em;
    font-style: italic;
    text-decoration: underline;
}

/* heading */
.main-head {
    text-align: center;
    color: #FFCF00;
}

.main-head h1 {
    margin: 0;
    padding: 10px 0;
    font-weight: 700;
    font-size: 5rem;
}

/* navbar */
.main-nav {
    text-align: center;
}

.main-nav ul {
    padding: 20px 0;
    padding: 0;
    margin: 0;
}

.main-nav li {
    list-style: none;
    display: inline-block;
    padding: 30px 20px;
}

.main-nav li a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

.main-nav li a:hover {
    color: #FFCF00;
    text-decoration: underline;
    font-size: 1.25em;
}

/* body */
.main-body .dtl-box {
    display: none;
    margin: 20px;
}

.main-body .active {
    display: block;
}

.main-body h2 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0 20px 0;
    font-weight: 700;
}

/* personal details */
.main-body .personal .personal-info {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid rgb(65, 65, 65);
}

/* projects details */
.main-body .projects .card {
    margin: 0 0 20px 0;
}

/* skills details */
.main-body .skills .skills-dtls {
    margin: 20px 0px;
}

.main-body .skills .skills-dtls .skill-card {
    margin: 20px 0px;
}

/* Media Queries */
@media (max-width : 1200px) {
    .grid-container {
        width: 80%;
    }

  }